In [21]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('C:\\Users\\mark\\Desktop\\dsi200\\chromedriver.exe')

In [22]:
driver.get('https://scholar.google.com/')

In [23]:
#frist page
search_box = driver.find_element_by_css_selector('#gs_hdr_tsi')
search_box.send_keys("Thammasat University\n")

In [24]:
#list page
tu = driver.find_element_by_css_selector("#gs_res_ccl_mid > div:nth-child(2) > div > a")
tu.click()

In [25]:
#user list page
author = driver.find_element_by_css_selector("#gsc_sa_ccl > div:nth-child(3) > div > div > h3 > a")

In [29]:
df = pd.DataFrame(
    {
        'user_id',
        'author',
        'affliation'
    }
)
df2 = pd.DataFrame()
for i in range(30):
    for i in driver.find_elements(By.CSS_SELECTOR, "div.gs_ai_t"):
        a = i.find_element_by_css_selector('a')
        author = a.text
        user_id = a.get_attribute('href').split('=')[-1]
        affliation = i.find_element_by_css_selector('div.gs_ai_aff').text
        #print(user_id, author, affliation)
        df = df.append(
            {
                'user_id':user_id,
                'author':author,
                'affliation':affliation
            }, ignore_index=True
        )
        
    next_page = driver.find_element_by_css_selector('#gsc_authors_bottom_pag > div > button.gs_btnPR.gs_in_ib.gs_btn_half.gs_btn_lsb.gs_btn_srt.gsc_pgn_pnx')
    next_page.click()
df

,user_id,author,affliation
0,N5APA98AAAAJ,Wasit Limpraser,Thammasart University
1,Re819VUAAAAJ,sandhya Babel,"Professor, Sirindhorn International Institute ..."
2,97Zz_TIAAAAJ,Sombat Muengtaweepongsa,Thammasat University
3,u-vl_aIAAAAJ,Wutiphol Sintunavarat,"Department of Mathematics and Statistics, Facu..."
4,9bUei6wAAAAJ,Bunyarit Uyyanonvara,"Associated Professor, SIIT, Thammasat University"
...,...,...,...
294,NLshr9gAAAAJ,Ines Ayu Handayani,"Master's Student, SIIT, Thammasat University"
295,oALsv34AAAAJ,Kritsasith Warin,"Lecturer, Faculty of Dentistry, Thammasat Univ..."
296,kJaNuNMAAAAJ,Dulyaphab Chaturongkul,"Lecturer in Political Science, Thammasat Unive..."
297,7XmRxVUAAAAJ,Punnavich Khowrurk,"Department of Computer Science,Thammasat Unive..."
298,vvP6YwkAAAAJ,Adipon Euajarusphan,"Lecturer , Thammasat University"

In [12]:
df.to_csv('author.csv')

In [31]:
df = df[['user_id','author','affliation']]
df

,user_id,author,affliation
0,N5APA98AAAAJ,Wasit Limpraser,Thammasart University
1,Re819VUAAAAJ,sandhya Babel,"Professor, Sirindhorn International Institute ..."
2,97Zz_TIAAAAJ,Sombat Muengtaweepongsa,Thammasat University
3,u-vl_aIAAAAJ,Wutiphol Sintunavarat,"Department of Mathematics and Statistics, Facu..."
4,9bUei6wAAAAJ,Bunyarit Uyyanonvara,"Associated Professor, SIIT, Thammasat University"
...,...,...,...
294,NLshr9gAAAAJ,Ines Ayu Handayani,"Master's Student, SIIT, Thammasat University"
295,oALsv34AAAAJ,Kritsasith Warin,"Lecturer, Faculty of Dentistry, Thammasat Univ..."
296,kJaNuNMAAAAJ,Dulyaphab Chaturongkul,"Lecturer in Political Science, Thammasat Unive..."
297,7XmRxVUAAAAJ,Punnavich Khowrurk,"Department of Computer Science,Thammasat Unive..."
298,vvP6YwkAAAAJ,Adipon Euajarusphan,"Lecturer , Thammasat University"

In [32]:
df = df.drop(labels=0, axis=0)
df

,user_id,author,affliation
1,Re819VUAAAAJ,sandhya Babel,"Professor, Sirindhorn International Institute ..."
2,97Zz_TIAAAAJ,Sombat Muengtaweepongsa,Thammasat University
3,u-vl_aIAAAAJ,Wutiphol Sintunavarat,"Department of Mathematics and Statistics, Facu..."
4,9bUei6wAAAAJ,Bunyarit Uyyanonvara,"Associated Professor, SIIT, Thammasat University"
5,UOeuXvQAAAAJ,Chanathip Namprempre,"Assistant Professor, Thammasat University"
...,...,...,...
294,NLshr9gAAAAJ,Ines Ayu Handayani,"Master's Student, SIIT, Thammasat University"
295,oALsv34AAAAJ,Kritsasith Warin,"Lecturer, Faculty of Dentistry, Thammasat Univ..."
296,kJaNuNMAAAAJ,Dulyaphab Chaturongkul,"Lecturer in Political Science, Thammasat Unive..."
297,7XmRxVUAAAAJ,Punnavich Khowrurk,"Department of Computer Science,Thammasat Unive..."
298,vvP6YwkAAAAJ,Adipon Euajarusphan,"Lecturer , Thammasat University"

In [33]:
df.to_csv('author.csv')